.DS_Store
user.yaml
installation.yaml
*.userdb/
build/
opencc/*.ocd2
user_history.txt
sync/
*.log
*.bak
*.tmp
.rebuild
--rebuild/
backup_*/
data/
trash/

# 用户自定义短语文件
*_phrase.txt

PY_c.txt
tigress*.txt
